/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.svg-icon[data-v-3559be4a] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.list-pagination {
  margin-top: 20px;
  text-align: center;
}
.sortable-handler {
  cursor: move !important;
}
.sortable-ghost td {
  background-color: #b0b8d3;
}
.sortable-disabled {
  opacity: 0.3;
}
.sortable-disabled td {
    background-color: gray;
}
.editable_title {
  cursor: pointer;
  color: #2f3855;
}
.editable_title:hover, .editable_title:focus {
    color: #596077;
}
/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.list-searchbar[data-v-3d41c12a] {
  text-align: right;
}
