/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.svg-icon[data-v-d7a95656] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.list-pagination {
  margin-top: 20px;
  text-align: center;
}
.sortable-handler {
  cursor: move !important;
}
.sortable-ghost td {
  background-color: #b0b8d3;
}
.sortable-disabled {
  opacity: 0.3;
}
.sortable-disabled td {
    background-color: gray;
}
.editable_title {
  cursor: pointer;
  color: #2f3855;
}
.editable_title:hover, .editable_title:focus {
    color: #596077;
}
/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.list-searchbar[data-v-3d41c12a] {
  text-align: right;
}
/* Colors -------------------------- */
/* Link -------------------------- */
/* Background -------------------------- */
/* Border -------------------------- */
/* Navbar -------------------------- */
/* Sidebar -------------------------- */
/* Tab -------------------------- */
/* Icon -------------------------- */
/* Item -------------------------- */
.content-container .el-main.media-main {
  min-height: 500px;
  padding: 10px;
}
.content-container .el-aside.media-aside {
  padding: 10px;
}
.media-container {
  background: #fff;
}
.media-container .el-header, .media-container .el-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.media-container .el-header {
    border-bottom: 1px solid #e6e6e6;
}
.media-container .el-footer {
    border-top: 1px solid #e6e6e6;
    color: #999999;
}
.media-container .el-aside {
    border-right: 1px solid #e6e6e6;
}
.media-toolbar__item {
  margin-right: 10px;
}
.media-create__item {
  margin-bottom: 10px;
}
.media-footer {
  width: 100%;
}
.file-list__table .el-table__row {
  cursor: default;
}
.file-list__table .el-table__row .file-item__thumb {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}
.file-list__icon {
  color: #606266;
  padding: 10px;
}
.file-list__icon:before, .file-list__icon:after {
    content: "";
    display: table;
}
.file-list__icon .file-item__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.file-list__icon .file-item__type {
    width: 3em;
    height: 3em;
}
.file-list__icon .file-item__icon {
    font-size: 3em;
}
.file-list__icon .file-item__thumb {
    width: 100%;
    height: 100%;
}
.file-list__icon .file-item__name {
    margin-top: 10px;
    padding: 2px 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: initial;
    max-height: 2.4em;
    line-height: 1.2em;
    white-space: pre-line;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}
.file-item {
  width: 120px;
  height: 80px;
  float: left;
  padding-right: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.file-item__checkbox {
    opacity: 0;
    position: absolute;
}
.file-item.is-selected_filepath .file-item__name {
    background: #2f3855;
    color: #fff;
    border-radius: 4px;
}






























































